@use "../all" as *;

.content {
  width: 55vw;
  margin: 0 auto;
}

.home {
  h1 {
    font-size: 2rem;
    font-family: $header-font;
  }

  .landing {
    @include toggle-visibility(true);

    h1 {
      position: relative;
      display: inline-block;

      span {
        display: inline-block;
        transition: transform 300ms ease;
      }

      span:hover {
        transform: translateY(-10px);
      }
    }

    h3 {
      font-size: 1.3rem;
    }
  }

  .hidden {
    @include toggle-visibility(false);
    max-height: 0;
  }
}

@media (max-width: 850px) {
  .content {
    width: 90vw;
  }
}
