@use "../all" as *;

.recipeList {
  .recipes {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    flex-wrap: wrap;

    .recipe {
      width: 30%;
      @include recipeContainer;
      a {
        font-size: 1.25rem;
        color: $primary-red;
      }
    }
  }
}
