@use "../all" as *;

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  label {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    width: 80%;

    input {
      padding: 10px;
      background-color: #adadad;
      border: none;
      border-radius: 5px;
      font-size: 14px;
      margin-bottom: 10px;
      width: 75%;
      transition: background-color 300ms ease;

      &:focus {
        outline: none;
        background-color: $white;
      }
    }

    .preference {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 10px;
      width: 50%;
      text-align: center;

      label {
        margin-bottom: 0;
      }
    }
  }

  .buttons {
    display: flex;
    gap: 2vh;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    .button {
      font-family: $body-font;

      display: block;
      box-sizing: border-box;
      border: 2px solid $black;
      border-radius: 0.75em;
      padding: 0.75em 1.5em;
      background: $white;
      color: $black;
      transform: translateY(-0.2em);
      transition: transform 0.1s ease;

      font-size: 17px;
      font-weight: bold;
      border: none;
      cursor: pointer;

      &:hover {
        transform: translateY(-0.33em);
      }

      &:active {
        transform: translateY(0);
      }
    }
  }
  .error {
    color: red;
    font-size: 12px;
  }
}
