@use "../all" as *;

.inputContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;

  .textContainer {
    display: flex;
    align-items: center;
    gap: 2vh;

    .input {
      @include input;
      width: 100%;
    }

    input::placeholder {
      color: $black;
    }

    .remove {
      @include buttonSmall;
    }
  }

  .preferenceContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: center;
    position: relative;

    .thumbTag {
      position: absolute;

      pointer-events: none;
      transition: left 0.1s;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 2px 8px;
      font-size: 0.9em;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
      z-index: 2;
      user-select: none;
    }

    label {
      margin-bottom: 0;
    }

    // reset
    input[type="range"] {
      -webkit-appearance: none;
      appearance: none;
      background: transparent;
      cursor: pointer;
      width: 15rem;
      border: none;
    }

    /* Removes default focus */
    input[type="range"]:focus {
      outline: none;
    }

    /******** Chrome, Safari, Opera and Edge Chromium styles ********/
    /* slider track */
    input[type="range"]::-webkit-slider-runnable-track {
      background-color: #a52700;
      border-radius: 1rem;
      height: 0.5rem;
    }

    /* slider thumb */
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      margin-top: -4px; /* Centers thumb on the track */
      background-color: #2e3131;
      border-radius: 1rem;
      height: 1rem;
      width: 1rem;
    }

    input[type="range"]:focus::-webkit-slider-thumb {
      outline: 3px solid #2e3131;
      outline-offset: 0.125rem;
    }

    /*********** Firefox styles ***********/
    /* slider track */
    input[type="range"]::-moz-range-track {
      background-color: #a52700;
      border-radius: 1rem;
      height: 0.5rem;
    }

    /* slider thumb */
    input[type="range"]::-moz-range-thumb {
      background-color: #2e3131;
      border: none; /*Removes extra border that FF applies*/
      border-radius: 1rem;
      height: 1rem;
      width: 1rem;
    }

    input[type="range"]:focus::-moz-range-thumb {
      outline: 3px solid #2e3131;
      outline-offset: 0.125rem;
    }
  }
}
