@use "../all" as *;

.modal {
  .modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 200;
  }

  .modalContainer {
    position: fixed;
    background-color: $white;
    color: $black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    border-radius: 8px;
    z-index: 201;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modalContainerClose {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      font-size: 1.2rem;
      color: $black;
    }

    //cool....
    &Content {
      padding: 1rem;
    }
  }
}
