@use "../all" as *;

.nav {
  padding: 1rem 2rem;

  ul {
    display: flex;
    gap: 2%;
    justify-content: flex-end;
    list-style: none;

    li {
      a {
        text-decoration: none;
        font-weight: 500;
        font-size: 1.2rem;
        color: $primary-red;
      }
    }
  }
}

@media (max-width: 1050px) {
  .nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    background-color: $primary-red;

    ul {
      justify-content: space-evenly;

      li {
        a {
          color: $white;
        }
      }
    }
  }
}
