@use "../all" as *;

.quickRecipe {
  // grid-area: 1 / 1 / 2 / 3;
  @include container;

  .tastes {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    margin: 2.5% 0;
    gap: 2vh;
    height: auto;

    .dropdownButton {
      @include buttonSmall;
    }
  }
}
