@use "../all" as *;

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;

  .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2%;

    .button {
      @include button;
      padding: 0.75em 1.5em;
    }

    a {
      text-decoration: none;
    }
  }

  .recipeTitle {
    font-size: 2.5rem;
    text-decoration: underline;
    font-family: $header-font;
  }

  .ingredients,
  .instructions,
  .tips {
    padding: 0 4%;
    width: 100%;

    h1 {
      font-family: $header-font;
      font-size: 1.2rem;
    }
  }

  .ingredients {
    .requestedIngredients {
    }
    .optionalIngredients {
    }
  }

  .instructions {
  }

  .tips {
  }
}
